@font-face {
	font-family: 'Gilroy';
	src: url('gilroy/Gilroy-ExtraBold.eot');
	src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
		url('gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('gilroy/Gilroy-ExtraBold.woff') format('woff'),
		url('gilroy/Gilroy-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
