$color-background: hsl(208, 100%, 5%);
$color-background--contrast: hsl(151, 28%, 84%);

$color-text: white;
$color-text--muted: hsl(151, 28%, 84%);
$color-text--contrast: hsl(208, 100%, 5%);
$color-text--contrast--muted: hsl(192, 8%, 26%);

$color-primary: hsl(15, 95%, 54%);
$color-primary--hover: hsl(15, 100%, 50%);
$color-primary--active: hsl(15, 95%, 60%);
$color-disabled: hsl(15, 95%, 80%);

$color-text--hover: hsl(0, 20%, 95%);
$color-text--active: hsl(0, 0%, 100%);
$color-text--disabled: hsl(0, 0%, 90%);
