$color-background: hsl(208, 100%, 5%);
$color-background--contrast: hsl(151, 28%, 84%);

$color-text: white;
$color-text--muted: hsl(151, 28%, 84%);
$color-text--contrast: hsl(208, 100%, 5%);
$color-text--contrast--muted: hsl(192, 8%, 26%);

$color-primary: hsl(15, 95%, 54%);
