@import "_colors";

$font-gilroy: "Gilroy", sans-serif;
$font-ptsans: "PT Sans", sans-serif;

$font-size-medium: 16px;
$base: 16px;

@mixin font-gilroy {
  font-family: $font-gilroy;
  font-weight: 800;
}

@mixin font-ptsans {
  font-family: $font-ptsans;
}

@mixin font-ptsans--bold {
  font-family: $font-ptsans;
  font-weight: bold;
}

.title {
  @include font-gilroy;

  font-size: 32px;
  line-height: 1.09375;
}

.subtitle {
  @include font-gilroy;

  font-size: 20px;
  line-height: 1.16;
  margin-bottom: 11px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 64px;
  }
  .subtitle {
    font-size: 24px;
  }
}

.text-body {
  @include font-ptsans;

  font-size: 16px;
  line-height: 24px;
}

.text-small {
  @include font-ptsans;

  font-size: 12px;
  line-height: 18px;
  letter-spacing: -1.5%;
}

.text-badge {
  @include font-ptsans;

  font-size: 11px;
  line-height: 24px;
  letter-spacing: 0.1em;
}

.text-color {
  color: $color-text;

  &--muted {
    color: $color-text--muted;
  }
}

.background-color {
  background: $color-background;
}

.contrast {
  .text-color {
    color: $color-text--contrast;
  
    &--muted {
      color: $color-text--contrast--muted;
    }
  }

  .background-color {
    background: $color-background--contrast;
  }

  &.swiper {
    &-slide {
      background-color: $color-background--contrast;
    }
  }
}