@import "_grid";
@import "_colors";
@import "_globals";

html {
  background: $color-background;
  color: $color-text;
  font-family: $font-gilroy;
}

a {
  &:focus {
    outline: 1px $color-primary outset;
  }
  
  &:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
  }
}
  :focus {
  outline: 1px $color-primary outset;
}

.color-background--contrast {
  background: $color-background--contrast;
}

.color-text {
  color: $color-text;
}

.color-text--contrast {
  color: $color-text--contrast;
}

.color-text--muted {
  color: $color-text--muted;
}

.color-text--contrast--muted {
  color: $color-text--contrast--muted;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  height: 100vh;
}
